$mobile-max-width: 640px;

em, strong {
    font-family: inherit;
    font-size: inherit;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

@media only print {
    html, body {
        width: 210mm;
        height: 297mm;
    }
}

@media only screen {
    body {
        background-color:hsl(39, 20%, 98%);
    }
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: hsl(219, 46%, 35%);
}

.header {
    font-weight: 700;
    padding: .5em 0 0 0;
    font-size: 1.1em;
    /* border-bottom: 1px dotted #000; */
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    letter-spacing: .001em;
    background-color: hsl(39, 46%, 90%);
}

.highlight-1 {
    color: hsl(159, 46%, 35%);
    font-weight: 600;
}

.me {
    grid-area: me;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.skills {
    grid-area: skills;
    width: 100%;
}

.experience {
    grid-area: experience;
    margin-bottom: 1em;
}

.projects {
    grid-area: projects;
}

.footer {
    grid-area: footer;
    font-family: "Roboto Slab", serif;
    font-size: .7em;
    color: hsl(39, 20%, 75%);
    padding-bottom: 0;
    margin: 5em 0 2em 0;
}

.container {
    padding: 2em 1.24em;
    display: grid;
    max-width: 210mm;
    padding-bottom: 1em;
    margin: 0 auto;
    grid-template:
        "me experience" auto
        "skills experience" auto
        "skills projects" auto
        "footer footer" auto / auto 54ch;
    grid-column-gap: 10px;
}

@media only screen and (max-width: $mobile-max-width) {
    .container {
        grid-template:
            "me" "experience" "projects" "skills" "footer";
        padding: 2em .8em 1em .8em;
        grid-row-gap: 10px;
    }
}

@media only print {
    .container {
        margin: 0;
        padding: .5em;
        max-height: 297mm;
    }
}

.contact {
    padding: 0 .4em;
}

@media only screen and (min-width: $mobile-max-width){
    .footer {
        padding-bottom: 0;
    }
}

@media only screen and (max-width: $mobile-max-width) {
    .footer {
        margin: 2em 0;
    }
}

.footer a {
    color: inherit;
    font-family: inherit;
    text-decoration: underline;
}

.profile-pic {
    width: 160px;
    height: 160px;
    border-radius: 100%;
    object-fit: cover;
    margin: 0 auto;
    box-shadow: 0 0 3px 1px hsla(39, 46%, 25%, 50%);
}

.name {
    text-align: center;
    line-height: 1.4;
    padding: .5em 1em 0 1em;
    font-size: 1.4em;
    font-weight: 600;
    color: hsl(39, 46%, 25%);
    font-family: 'Roboto Slab', serif;
}
.me > .title {
    text-align: center;
    line-height: 1.4;
    padding: .2em 1em .5em 1em;
    margin-bottom: .8em;
    font-size: 1em;
    font-weight: 300;
    color: hsl(39, 46%, 25%);
    font-family: 'Roboto Slab', serif;
}

.contact-method {
    font-size: .9em;
    margin-bottom: .5em;
    text-align: center;
    display: flex;
    align-items: center;
}

.contact-method > span {
    flex-grow: 1;
    text-align: left;
}

.contact-method > img, .contact-method > svg{
    margin: 0 .5em;
}

.intro {
    line-height: 1.1;
    font-style: italic;
    margin: 1.5em .4em 1.5em .4em;
    font-size: 1em;
    font-family: "Roboto Mono", "Courier New", monospace;
}

.intro p {
    font-style: inherit;
    font-family: inherit;
    margin: 0;
    margin-bottom: .8em;
}

.intro p:last-child {
    margin-bottom: 0;
}

.subgroup-header {
    margin-top: .8em;
    font-weight: 500;
    font-size: .9em;
}

.skills-list {
    display: flex;
    flex-flow: row wrap;
    margin-top: 9px;
}

li.skill {
    font-family: "Roboto Slab";
    font-size: .8em;
    color: white;
    background-color: hsl(39, 46%, 25%);
    // border: 1px solid hsl(39, 46%, 25%);
    border-radius: 3px;
    padding: .2em .5em;
    margin: 0 4px 4px 0;
    flex-grow: 1;
    text-align: center;
    user-select: none;
}

.history-container {
    display: flex;
    flex-flow: column nowrap;
}

.history {
    margin: .6em 0 0 0;
}

.history hr {
    // border-top: 1px dashed hsl(39, 46%, 35%);
    border-top: none;
    border-bottom: none;
}

.history-content {
    border-left: 1px solid hsl(39, 46%, 35%);
    margin: 0 .2em;
}

.history-content.present {
    border-left: 3px solid hsl(39, 46%, 35%);
    margin: 0 .2em;
}

.history-field {
    /* margin-left: 2em; */
    margin-left: .8em;
    margin-bottom: .3em;
    font-size: .8em;
}

.history-time {
    font-size: .9em;
    margin-left: 0;
    margin-top: .5em;
    margin-bottom: .5em;
    font-weight: 700;
    color: hsla(39, 70%, 35%);
}

.history-time > span {
    color: hsla(39, 20%, 55%, 100%);
}

.history-field.place {
    font-weight: 600;
    font-style: italic;
    font-size: .8em;
}

.history-field.degree, .history-field.title {
    font-size: .8em;
    font-weight: 500;
    margin-bottom: 7px;
}

.history-field:last-child {
    margin-bottom: 0;
}

ul.desc {
    list-style: square;
    margin-left: 2em;
}

li.desc-item {
    /* font-family: "Roboto", sans-serif; */
    margin-bottom: 6px;
    font-family: "Roboto Slab", serif;
    font-size: inherit;
}

li.desc-item:last-child {
    margin-bottom: 0;
}

li.desc-item > div {
    font-family: inherit;
    font-style: inherit;
    font-size: 1em;
    padding-left: .2em;
    line-height: 1.5;
}

.project-container {
    display: flex;
    flex-flow: column nowrap;
}

.project-group {
    flex: 1 1 0;
    margin-top: .8em;
    display: flex;
    padding: 0;
}

.project-group:last-child {
    margin-bottom: 0;
}

.project-group > .subgroup-header {
    // display: inline-block;
    margin-top: 0;
    flex-shrink: 0;
    width: 6em;
    word-wrap: break-word;
}

.project-group > .project-group-list {
    margin-left: 1.5em;
    padding-left: .2em;
    list-style-type: '-  ';
}

li.project {
    font-size: .8em;
    font-family: "Roboto Slab", serif;
    margin-bottom: .4em;
}

li.project:last-child {
    margin-bottom: 0;
}


li.highlight {
    color: hsl(350, 60%, 50%);
    animation: color-change 3s infinite;
}

@keyframes color-change {
    0% { color: hsl(350, 60%, 50%); }
    25% { color: hsl(80, 60%, 40%); }
    50% { color: hsl(170, 60%, 40%); }
    75% { color: hsl(260, 60%, 50%); }
    100% { color: hsl(350, 60%, 50%); }
}


li.project > div {
    padding-left: .2em;
    font-family: inherit;
    font-style: inherit;
    font-size: inherit;
}

span.tag {
    font-family: "Roboto Slab";
    font-size: .9em;
    // color: white;
    // background-color: hsl(39, 46%, 25%);
    // border: 1px solid hsl(39, 46%, 25%);
    border-radius: 3px;
    padding: .1em .5em;
    margin: 0 .1em 0 0;
    text-align: center;
    user-select: none;
}

li.skill, span.tag {
    background-color: white;
    border: 1px solid hsl(39, 50%, 25%);
    color: hsl(39, 50%, 25%);
    font-weight: 500;
    display: inline-block;
    margin-top: auto;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

li.skill:hover, span.tag:hover {
    border: 1px solid hsl(39, 50%, 30%);
    background-color: hsl(39, 50%, 30%);
    color: hsl(39, 50%, 95%);
}

// @media only print {    
//     * {
//         border-radius: 0px;
//     }
// }