$mobile-max-width: 640px;

* {
    font-family: "Roboto", sans-serif;
    // font-size: 1.01em;
    // font-size: 1em;
    box-sizing: border-box;
}

em, strong {
    font-family: inherit;
    font-size: inherit;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

@media only print {
    html, body {
        width: 210mm;
        height: 297mm;
    }
}

@media only screen {
    body {
        background-color:hsl(39, 20%, 98%);
    }
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: hsl(219, 46%, 35%);
}

.header {
    font-weight: 700;
    padding: .5em 0 0 0;
    font-size: 1.1em;
    /* border-bottom: 1px dotted #000; */
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    letter-spacing: .001em;
    background-color: hsl(39, 46%, 90%);
}

.highlight-1 {
    color: hsl(159, 46%, 35%);
    font-weight: 600;
}

.section {
    /* border: 1px dashed #777; */
    padding: 2em .7em 0 .7em;
}

.container {
    padding: 2em 1.24em;
    display: grid;
    grid-template: "bar content" 1fr 
                "footer footer" auto / 1fr auto;
}

@media only screen and (min-width: $mobile-max-width) {
    .container {
        max-width: 210mm;
        min-height: 297mm; 
        padding-bottom: 1em;
        margin: 0 auto;
    }
}

@media only screen and (max-width: $mobile-max-width) {
    .container {
        display: block;
        padding: 2em .5em 1em .5em;
    }
}

@media only print {
    .container {
        padding: .5em;
        height: 100%;
        width: 100%;
    }
}

.footer {
    grid-area: footer;
    font-family: "Roboto Slab", serif;
    font-size: .7em;
    color: hsl(39, 20%, 75%);
    padding-bottom: 0;
}

@media only screen and (min-width: $mobile-max-width){
    .content {
        grid-area: content;
        padding-top: 0;
        margin-left: .5em;
    }
        
    .bar {
        grid-area: bar;
        border-right: none;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        padding-top: 0;
    }

    .footer {
        padding-bottom: 0;
    }
}

.contact {
    // margin-top: .3em;
    padding: 0 .4em;
}

@media only screen and (max-width: $mobile-max-width) {
    .footer {
        padding-bottom: 5em;
        margin: 1em 0 5em 0;
    }

    .bar {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    
    .contact {
        margin-top: 1em;
        // margin: 1em auto 0 auto;
        // padding: 0 .4em;
    }
}

.bar > * {
    display: block;
}

.footer a {
    color: inherit;
    text-decoration: underline;
}


.profile-pic {
    width: 160px;
    height: 160px;
    border-radius: 100%;
    object-fit: cover;
    margin: 0 auto;
}

.bar > .name {
    text-align: center;
    line-height: 1.4;
    padding: .5em 1em;
    margin-bottom: .5em;
    font-size: 1.4em;
    font-weight: 600;
    color: hsl(39, 46%, 25%);
    font-family: 'Roboto Slab', serif;
}

.contact-method {
    font-size: .9em;
    margin-bottom: .5em;
    text-align: center;
    display: flex;
    /* justify-content: space-between; */
    /* align-content: space-around; */
    align-items: center;
}

.contact-method > span {
    flex-grow: 1;
    text-align: left;
}

.contact-method > img, .contact-method > svg{
    margin: 0 .5em;
}

.intro {
    line-height: 1.1;
    font-style: italic;
    margin: 1.5em .4em 1.5em .4em;
    font-size: 1em;
    font-family: "Roboto Mono", "Courier New", monospace;
}

.intro * {
    font-style: inherit;
    font-family: inherit;
    margin: 0;
    margin-bottom: .8em;
}

.subgroup-header {
    margin-top: .8em;
    font-weight: 500;
    font-size: .9em;
}

.skills-list {
    display: flex;
    flex-flow: row wrap;
    margin-top: 9px;
}

li.skill {
    font-family: "Roboto Slab";
    font-size: .8em;
    color: white;
    background-color: hsl(39, 46%, 25%);
    // border: 1px solid hsl(39, 46%, 25%);
    border-radius: 3px;
    padding: .2em .5em;
    margin: 0 4px 4px 0;
    flex-grow: 1;
    text-align: center;
    user-select: none;
}

.history-container {
    display: flex;
    flex-flow: column nowrap;
}

.history {
    margin: .6em 0 0 0;
}


.history-content {
    border-left: 1px solid hsl(39, 46%, 35%);
    margin: 0 .2em;
}


.history-field {
    /* margin-left: 2em; */
    margin-left: .8em;
    margin-bottom: .5em;
    font-size: .8em;
}

.history-time {
    font-size: .8em;
    margin-left: 0;
    margin-bottom: .5em;
    font-weight: 700;
    color: hsla(39, 70%, 35%);
}

.history-time > span {
    color: hsla(39, 20%, 55%, 80%);
}

.history-field.place {
    font-weight: 500;
    font-size: .8em;
}

.history-field.degree, .history-field.title {
    font-size: .8em;
    font-weight: 500;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dashed hsl(39, 46%, 35%);
}

ul.desc {
    list-style: square;
    margin-left: 2em;
}

li.desc-item {
    /* font-family: "Roboto", sans-serif; */
    margin-bottom: 6px;
    font-family: "Roboto Slab", serif;
    font-size: inherit;
}

li.desc-item:last-child {
    margin-bottom: 0;
}

li.desc-item > div {
    font-family: inherit;
    font-style: inherit;
    font-size: 1em;
    padding-left: .2em;
}

.experience {
    margin-bottom: 1em;
}

.project-container {
    display: flex;
    flex-flow: column nowrap;
}

.project-group {
    flex: 1 1 0;
    margin-top: .8em;
    display: flex;
    padding: 0;
}

.project-group:last-child {
    margin-bottom: 0;
}

.project-group > .subgroup-header {
    // display: inline-block;
    margin-top: 0;
    flex-shrink: 0;
    width: 5.5em;
    word-wrap: break-word;
}

.project-group > .project-group-list {
    margin-left: 1.5em;
    padding-left: .2em;
    list-style-type: '-  ';
}

li.project {
    font-size: .8em;
    font-family: "Roboto Slab", serif;
    margin-bottom: .2em;
}

li.project:last-child {
    margin-bottom: 0;
}


li.highlight {
    color: hsl(350, 60%, 50%);
    animation: color-change 3s infinite;
}

@keyframes color-change {
    0% { color: hsl(350, 60%, 50%); }
    25% { color: hsl(80, 60%, 40%); }
    50% { color: hsl(170, 60%, 40%); }
    75% { color: hsl(260, 60%, 50%); }
    100% { color: hsl(350, 60%, 50%); }
}


li.project > div {
    padding-left: .2em;
    font-family: inherit;
    font-style: inherit;
    font-size: inherit;
}

span.tag {
    font-family: "Roboto Slab";
    font-size: .9em;
    // color: white;
    // background-color: hsl(39, 46%, 25%);
    // border: 1px solid hsl(39, 46%, 25%);
    border-radius: 3px;
    padding: .1em .5em;
    margin: 0 .1em 0 0;
    text-align: center;
    user-select: none;
}

li.skill, span.tag {
    background-color: white;
    border: 1px solid hsl(39, 50%, 25%);
    color: hsl(39, 50%, 25%);
    font-weight: 500;
    display: inline-block;
    margin-top: auto;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

li.skill:hover, span.tag:hover {
    border: 1px solid hsl(39, 50%, 30%);
    background-color: hsl(39, 50%, 30%);
    color: hsl(39, 50%, 95%);
}